/* Universal Styles */

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-size: 16px; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
}

a{
    text-decoration: none;
    color:#505050;
}

.image-container {
    overflow: hidden;
    box-shadow: 5px 5px 20px darkslategrey;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.button {
    padding: 1rem 0;
    background-color: #505050;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    width: 80%;
    box-shadow: 5px 5px 20px darkslategrey;
    transition: all 0.5s ease-in 0.1s;
}

.button:hover {
    background-color: darkslategray;
    padding: 1.25rem 0.5rem;
    box-shadow: 5px 5px 20px black
}

.side-container {
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease-in 0.1s;
}

.side-container:hover {
    background-color: lightgray;
}

h1 {
    font-size: 6vmin; /* Alternate size 3.125rem */
    font-weight: 800;
    margin-bottom: 2rem;
}

h2 {
    font-size: 5vmin; /* Alternate size 2.625rem */
    font-weight: 800;
}

h3 {
    font-size: 3vmin; /* Alternate size 1.75rem */
}

p {
    font-family: 'Poppins', sans-serif;
}

/*HEADER*/

header{
    font-size: 32px;
    color: #505050;
}

nav.desktop {
    width: 100%;
    height: 64px;
    background-color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px; /* 24px links und rechts */
}

nav.desktop .right ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.desktop .right ul li {
    margin-right: 16px; /* Abstand zwischen li-Elementen */
}

nav.desktop .right ul li:last-child {
    margin-right: 0; /* Kein Abstand nach dem letzten li-Element */
}



header .mobile {
    display:none;
}


@media only screen and (max-width: 650px) {

    header .desktop {
        display: none;
    }
    
    header .mobile {
        display: block;
        width: 100%;
        height: 4.5rem;
        text-align: center;
    }

    header li {
        margin: 0 4rem;
    }

    header .mobile img {
        height: 3.5rem;
        width: auto;
        vertical-align: middle;
    }
}

/* Banner */

#banner {
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: 32px 0; /* 32px Abstand oben und unten */
}

#banner-image {
    width: 60%; /* 60% der Breite */
    margin: 0 2rem; /* 2rem Abstand rechts und links */
}

.content {
    flex: 1; /* Nimmt den verfügbaren Platz neben dem Bild ein */
    padding: 0 24px; /* 24px Abstand rechts und links */
    display: flex;
    flex-direction: column; /* Anordnung der Inhalte in einer Spalte */
}

#banner h3 {
    margin-bottom: 2.5rem;
    line-height: 1.5;
}

#banner a {
    color: white;
}


/* Campus Information */

#campus-info {
    display: flex;
    background-color: ghostwhite;
}

.learning-quote {
    width: 50%;
    margin: 2rem;
}

.learning-quote .content h2 {
    margin: 2rem 0;
}

.learning-quote .content span {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 2rem 0;
}

.campus-info {
    width: 40%;
    margin-top: 2rem;
    margin-left: 1rem;
}

.campus-info .image-container {
    max-width: 32%;
    margin: 1rem;
}

.campus-info .content {
    margin-left: 0.5rem;
}

.campus-info .content h3 {
    margin: 0.5rem 0;
}

.campus-info .content p {
    line-height: 2;
}

.campus-info .content a {
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
    display: inline-block;
    margin-top: 0.5rem;
}

.campus-info .mobile {
    display: none;
}